{% load static %}
<div class="col-sm-3">
	<div class="left-sidebar">
		<h2>Category</h2>
		<div class="panel-group category-products" id="accordian"><!--category-productsr-->
			{% for category in categories %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title"><a href="/products/?q={{ category.category }}">{{ category.category }}</a></h1>
                    </div>
			    </div>
            {% endfor %}
		</div><!--/category-productsr-->
	
		<div class="shipping text-center"><!--shipping-->
            <img src="{% static 'images/home/shipping.jpg' %}" alt="shipping">
		</div><!--/shipping-->
		
	</div>
</div>