{% extends 'items.html' %}

{% load static %}
	
{% block title %}Checkout | Esprite{% endblock  %}


{% block content %}

	<section id="cart_items">
		<div class="container">
			<div>
				<h2 class="cart_items py-2">Check Out</h3>
			</div>

			<div class="shopper-informations">
				<div class="row">
					<div class="col-md-12">
						<form action="{% url 'product:checkout' %}" method="POST">
							{% csrf_token %}
							<div class="col-md-6 myform">
								<div class="mb-3">
									<label for="">Firstname*</label>
									{{ form.firstname }}
								</div>
								<div class="mb-3">
									<label for="">Lastname*</label>
									{{ form.lastname }}
								</div>
								<div class="mb-3">
									<label for="">Email*</label>
									{{ form.email }}
								</div>
								<div class="mb-3">
									<label for="">Phone*</label>
									{{ form.phone }}
								</div>
							</div>
							<div class="col-md-6 myform">
								<div class="mb-3">
									<label for="">Address 1*</label>
									{{ form.address_1 }}
								</div>
								<div class="mb-3">
									<label for="">Address 2*</label>
									{{ form.address_2 }}
								</div>
								<div class="mb-3">
									<label for="">ZIP code*</label>
									{{ form.zip_code }}
								</div>
								<div class="mb-3">
									<label for="">State*</label>
									{{ form.state }}
								</div>
							</div>
							<div>
								<button type="submit" class="btn btn-outline btn-info btn-sm mx-2">Submit</button>
							</div>
						</form>
					</div>					
				</div>
			</div>
			<div class="review-payment">
				<h2>Review &amp; Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                        {% include 'cart_table.html' %}
                        <tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>Ksh {{ total_sum }}</td>
									</tr>
									<tr>
										<td>VAT Tax</td>
										<td>Ksh {{ vat_tax }}</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>Ksh <span id="amount">{{ total }}</span></span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ppaypal">
				<div id="paypal-button-container"></div>
			</div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AbSIcthylDTpzLmXT5TvQt88hKJOul_QHKa5g4V4bhe4ts5IRYxlEwPHyyofrbW59g9mQVXwvnjR3pBM&currency=USD"></script>

    <script>
	    var total = parseFloat(document.getElementById("amount").innerText);
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                }).then(resp=> {
					return window.location = "http://127.0.0.1:8000/products/order/";
				})
            }


        }).render('#paypal-button-container');
    </script>
		</div>
	</section> <!--/#cart_items-->
	
{% endblock %} 