{% extends 'base.html' %}


{% block title %}HomePage{% endblock  %}

{% block content %}
    <div class="homepage">
        <header>
            <div class="navigation-menu">
                <h3>Esprite.com</h3>

                <ul class="list-item">
                    <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="{% url 'product:list' %}">Store</a></li>
                    <li class="list-inline-item"><a href="{% url 'login' %}">Login</a></li>
                </ul>
            </div>
        </header>
    </div>
{% endblock  %}